name: FE CI Pipeline

on:
  push:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and Push Docker Image
        run: |
          # Di sini kuncinya. Kita paksa variabel masuk sebagai build-arg
          docker build \
            --build-arg VITE_API_URL="${{ secrets.VITE_API_URL }}" \
            -t ${{ secrets.DOCKER_IMAGE_NAME }}:${{ github.sha }} .
          
          docker push ${{ secrets.DOCKER_IMAGE_NAME }}:${{ github.sha }}

  deploy:
    runs-on: ubuntu-latest
    needs: build-and-push
    
    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Setup SSH
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.EC2_SSH_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan -H ${{ secrets.EC2_HOST }} >> ~/.ssh/known_hosts

      - name: Deploy to EC2
        run: |
          # Ganti tag di deployment.yaml
          sed -i "s|REPLACE_ME_TAG|${{ github.sha }}|g" k8s/deployment.yaml
          
          # Buat folder di server (jaga-jaga belom ada)
          ssh ${{ secrets.EC2_USER }}@${{ secrets.EC2_HOST }} "mkdir -p ~/app/k8s/fe"
          
          # Kirim file
          scp k8s/deployment.yaml k8s/service.yaml k8s/ingress.yaml ${{ secrets.EC2_USER }}@${{ secrets.EC2_HOST }}:~/app/k8s/fe/
          
          # Apply k8s
          ssh ${{ secrets.EC2_USER }}@${{ secrets.EC2_HOST }} "
            sudo k3s kubectl apply -f ~/app/k8s/fe/deployment.yaml &&
            sudo k3s kubectl apply -f ~/app/k8s/fe/service.yaml &&
            sudo k3s kubectl apply -f ~/app/k8s/fe/ingress.yaml
          "